gpiozero==2.0.1
gradio==6.0.1
numpy==2.3.5
opencv_contrib_python==3.4.18.65
opencv_python==4.9.0.80
opencv_python_headless==4.9.0.80
picamera2==0.3.31
Pillow==12.0.0
pygame==2.5.2
torch==1.13.0
torchvision==0.14.0
~pencv_python==4.9.0.80
